force-app/main/default/flows/Hours_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Updates Hours using Project Teams record Information</description>
    <environments>Default</environments>
    <interviewLabel>Hours Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hours Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Active_Project_Role_Record</name>
        <label>Find Active Project Team Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Hours_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Logged_By__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Resource_Capacity_Record</name>
        <label>Find Resource Capacity Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Active_Project_Role_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Logged_By__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Resource_Capacity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Hours record with retrieved Project Team ID</description>
        <name>Update_Hours_Record</name>
        <label>Update Hours Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Totals</targetReference>
        </connector>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <elementReference>$Record.Project__r.Project_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Team__c</field>
            <value>
                <elementReference>Find_Active_Project_Role_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Capacity__c</field>
            <value>
                <elementReference>Find_Resource_Capacity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the total fields used in the roll up</description>
        <name>Update_Totals</name>
        <label>Update Totals</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Copy_of_Total_Cost__c</field>
            <value>
                <elementReference>$Record.Total_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copy_of_Total_Price__c</field>
            <value>
                <elementReference>$Record.Total_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Resource_Capacity_Record</targetReference>
        </connector>
        <object>Hours__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
