force-app/main/default/flows/New_Employee_email_notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Company_New_employee_welcome</name>
        <label>Company New employee welcome</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>Employees__c.Company_New_Employee_Welcome_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Employees__c.Company_New_Employee_Welcome_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Employee_Welcome_email</name>
        <label>New Employee Welcome email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Employees__c.New_Employee_Welcome_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Company_New_employee_welcome</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Employees__c.New_Employee_Welcome_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Simpala_Employee_starting_today</name>
        <label>Simpala Employee starting today</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Simpala_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simpala</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Employee_Welcome_email</targetReference>
            </connector>
            <label>Yes Simpala Employee</label>
        </rules>
    </decisions>
    <description>Sends welcome emails to new employees</description>
    <environments>Default</environments>
    <interviewLabel>New Employee email notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Employee email notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Simpala_Employee_starting_today</targetReference>
        </connector>
        <object>Employees__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-24</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
