force-app/main/default/flows/Project_Creation_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_each_Sprint_Value</name>
        <label>Assign each Sprint Value</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>MSSprintRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSSprintRecord.Sprint_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarSprintNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSSprintRecord.Sprint_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarSprintPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSprintNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSSprintCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MSSprintRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Each variable is modified by the operator and value combination.</description>
        <name>Assign_values_to_variable</name>
        <label>Assign values to variable</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeamRecord.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamRecord.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamRecord.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectTeamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectTeamRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Count</name>
        <label>Subtract Count</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>VarNoofSprints</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Term_length_zero_or_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Term_length_zero_or_null</name>
        <label>Check Term length zero or null</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>term_length_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNoofSprints</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_each_Sprint_Value</targetReference>
            </connector>
            <label>term length ok</label>
        </rules>
        <rules>
            <name>Length_is_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNoofSprints</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sprints</targetReference>
            </connector>
            <label>Length is zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Managed_Service_Project</name>
        <label>Managed Service Project?</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Create_Discovery_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Managed_Service_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Term_length_zero_or_null</targetReference>
            </connector>
            <label>Yes Managed Service Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Products_Found</name>
        <label>Opp Products Found</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Opp_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Opp_Products</targetReference>
            </connector>
            <label>Yes Opp Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_an_Employee_found</name>
        <label>Was an Employee found?</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Opp_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Record</targetReference>
            </connector>
            <label>Yes was found?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>{!$Record.Name &amp; &quot; Project&quot;}</description>
        <name>ProjectNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name &amp; &quot; Project&quot;}</expression>
    </formulas>
    <formulas>
        <description>Variable to calculate hours allocated to Discovery Phase Requirement</description>
        <name>VarDiscoPhaseReq</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total_Number_of_Hours__c}*0.25</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Variable to show the price of the Discovery Requirement</description>
        <name>VarDiscoPhaseReqPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}*25</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Requirement estimated hours for Hypercare Projects</description>
        <name>VarHypercareReq</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total_Number_of_Hours__c}*0.10</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Hypercare requirement estimated price</description>
        <name>VarHypercareReqPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}*0.1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VarSprintPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}/{!$Record.Contract_Term__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Project Creation Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Creation Automation</label>
    <loops>
        <description>Loop through Opp products to assign to Project Roles</description>
        <name>Loop_through_Opp_Products</name>
        <label>Loop through Opp Products</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Team_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Discovery_Requirement</name>
        <label>Create Discovery Requirement</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Create_HyperCare_Requirement</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimate__c</field>
            <value>
                <elementReference>VarDiscoPhaseReq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Price__c</field>
            <value>
                <elementReference>VarDiscoPhaseReqPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <object>Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_HyperCare_Requirement</name>
        <label>Create HyperCare Requirement</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Estimate__c</field>
            <value>
                <elementReference>VarHypercareReq</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Price__c</field>
            <value>
                <elementReference>VarHypercareReqPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <stringValue>Hypercare</stringValue>
            </value>
        </inputAssignments>
        <object>Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Find_Opp_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Project_Manager__c</field>
            <value>
                <elementReference>$Record.Customer_Project_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Type__c</field>
            <value>
                <elementReference>$Record.Pricing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Description__c</field>
            <value>
                <elementReference>$Record.Opportunity_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Objectives__c</field>
            <value>
                <elementReference>$Record.Project_Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Sponsor__c</field>
            <value>
                <elementReference>$Record.Project_Sponsor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Stage__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.Project_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hours__c</field>
            <value>
                <elementReference>$Record.Total_Number_of_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Team_Records</name>
        <label>Create Project Team Records</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Managed_Service_Project</targetReference>
        </connector>
        <inputReference>ProjectTeamCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sprints</name>
        <label>Create Sprints</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <inputReference>MSSprintCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Opp_Owner</name>
        <label>Find Opp Owner</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_an_Employee_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>SortOrder</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Manager__c</field>
            <value>
                <elementReference>Find_Opp_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>List of Sprint records to be created for MS Projects</description>
        <name>MSSprintCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprint__c</objectType>
    </variables>
    <variables>
        <name>MSSprintRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprint__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>ProjectTeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Team__c</objectType>
    </variables>
    <variables>
        <name>VarNoofSprints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Contract_Term__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarSprintNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VARUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
