force-app/main/default/flows/Time_Logging_MetaDataDeploy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Hours_To_Total</name>
        <label>Add Hours To Total</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>TotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_existing_hours.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_existing_hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_RecordId_to_IDs_list</name>
        <label>Add RecordId to IDs list</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Fields_to_Hours_Record</name>
        <label>Assign Custom Fields to Hours Record</label>
        <locationX>358</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>HourRecord.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HoursCustom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateCustom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionCustom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Hour_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Values</name>
        <label>Assign Default Values</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>HourRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requirement.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Logged_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requirement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Project_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requirement.Project__r.Project_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HourRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_existing_hours</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BlankDate</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>BlankNumber</name>
        <dataType>Number</dataType>
    </constants>
    <constants>
        <name>BlankText</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>RecordId will be set if passed from single requirement, but also need to use the Ids list</description>
        <name>Is_RecordId_Set</name>
        <label>Is RecordId Set?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordId_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RecordId_to_IDs_list</targetReference>
            </connector>
            <label>RecordId is set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Takes the requirement estimate and subtracts total hours already logged</description>
        <name>RemainingHours</name>
        <dataType>Number</dataType>
        <expression>{!Get_Requirement.Estimate__c} - {!TotalHours}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Time Logging V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Logging Metadata</label>
    <loops>
        <name>Loop_existing_hours</name>
        <label>Loop existing hours</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Already_Logged_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Hours_To_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Log_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Requirement_Ids</name>
        <label>Loop Over Requirement Ids</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Requirement</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Hour_Record</name>
        <label>Create Hour Record</label>
        <locationX>358</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Loop_Over_Requirement_Ids</targetReference>
        </connector>
        <inputReference>HourRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the hours already logged against the requirement to give totals in lieu of a roll up</description>
        <name>Get_Already_Logged_Hours</name>
        <label>Get Already Logged Hours</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Requirement_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get employee record based on user</description>
        <name>Get_Employee_Record</name>
        <label>Get Employee Record</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Requirement_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requirement</name>
        <label>Get Requirement</label>
        <locationX>358</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Already_Logged_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Requirement_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Log_Hours</name>
        <label>Log Hours</label>
        <locationX>358</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Custom_Fields_to_Hours_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Log Time for: &lt;strong&gt;{!Get_Requirement.Summary__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Estimate:&lt;strong&gt; {!Get_Requirement.Estimate__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Total Already Logged:&lt;strong&gt; {!TotalHours}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Remaining: &lt;strong&gt;{!RemainingHours}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Log_Hours_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Hours_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HourRecord.Project_Stage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HourRecord.Requirement__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Hours_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HourRecord.Logged_By__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HourRecord.Project__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HoursCustom</name>
                    <dataType>Number</dataType>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid number of hours&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!HoursCustom} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>DateCustom</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayDate</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>HourRecord.Out_of_Hours__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DescriptionCustom</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save Hours</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_RecordId_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HourRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hours__c</objectType>
    </variables>
    <variables>
        <description>Ids passed from list view</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Requriement Id passed by action</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
