force-app/main/default/flows/Update_Total_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_product_cost_to_variable</name>
        <label>Assign product cost to variable</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>VARTotalCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Copy_of_cost</targetReference>
        </connector>
    </assignments>
    <description>Update Copy of Total Cost field with Total Cost</description>
    <environments>Default</environments>
    <interviewLabel>Update Total Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Copy_of_cost</name>
        <label>Update Copy of cost</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Copy_of_Total_Cost__c</field>
            <value>
                <elementReference>VARTotalCost</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_product_cost_to_variable</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VARTotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
